@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model NazdaqSearch.Models.Inputodel

<h2> Welcome! </h2>

<a href="../Logic/Refresh" class="button"> Refresh... </a>


<div class="search" style="border:solid 5px #4CAF50; width: 400px;">

    @using (Html.BeginForm("SymbolDisplay", "Home", FormMethod.Post))
    {
    <form style="padding:10px; position:center;">

        @Html.LabelFor(model => model.SymbolInput, "Symbol Search")
        @Html.TextBoxFor(model => model.SymbolInput)
        @* @Html.Hidden("Symbol Input", model.SymbolInput) *@

        <p></p>

        @Html.LabelFor(model => model.DateInput, "Date Search")
        @Html.TextBoxFor(model => model.DateInput, "{0:yyyy-mm-dd}", new { type = "date" })
        @* @Html.Hidden("DateInput", model.DateInput) *@

        <p></p>

        <input type="submit" id="submitId" value="Submit" />

    </form>    
    }


    </div>
